<select name="hourlyData" id="hourlyData" [(ngModel)]="menuSelection" (ngModelChange)="onChange()">
    <option *ngFor="let hourlyDataSelection of hourlyDataSelections;" [value]="hourlyDataSelection">
        {{ hourlyDataSelection }}
    </option>
</select>

<div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>